* {
    color: white;
    font-size: 1.2rem;
}

nav {
    background-color: #54657e;
    display: flex;
    align-items: center;
}

.titleDiv {
    width: 20vw;
    margin-left: 0.5rem;
}

.elements {
    width: 80vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0.5rem;
}